/* SETUP | MODULE | 3020_PROTOTYPE-NPR | MEDIAOBJECT - 2019-08-16 */
// SETUP | MODULE | 3011_SETUP | MEDIAOBJECT - 2019-06-21 */
// Demo: https://setup.basestructure.com/module-mediaobject-reusability-demonstration/

// -------------------------------------
// EXTEND

	%mediaobject-flex {
		display: flex;
	}
	%mediaobject-flex-cancel {
		display: block;
	}

	// FLEX-DIRECTION
	%mediaobject-flex-left2right {
		flex-direction: row;
	}
	%mediaobject-flex-right2left {
		flex-direction: row-reverse;
	}
	%mediaobject-flex-top2bottom {
		flex-direction: column;
	}
	%mediaobject-flex-bottom2top {
		flex-direction: column-reverse;
	}

	// FLEX-ALIGN
	%mediaobject-align-left2right {
		align-items: flex-start;
	}

	// ITEM-FIGURE
	%mediaobject-itemfigure {
		//background-color: red;
	}

	%mediaobject-itemfigure-left {
		margin-right: 1rem;
		margin-left: 0;
	}
	%mediaobject-itemfigure-right {
		margin-right: 0;
		margin-left: 1rem;
	}
	%mediaobject-itemfigure-vertical {
		margin-right: 0;
		margin-left: 0;
	}

	// ITEM-INFO
	%mediaobject-iteminfo {
		//background-color: yellow;
		flex: 1;
	}

	// 2COLHALF
	%mediaobject-2col-itemfigure {
		flex-basis: 50%;
	}
	%mediaobject-2col-iteminfo {
		flex-basis: 50%;
	}

	// ITEM-TITLE
	%mediaobject-itemtitle {
		line-height: 1.2;
	}
	%mediaobject-itemtitle-link {}
	%mediaobject-itemtitle-hover {}



// -------------------------------------
// SELECTORS

	// MODULE-MEDIAOBJECT
	.module-mediaobject {
		@extend %mediaobject-flex !optional;
		//@extend %mediaobject-align-left2right !optional;
	}
		.module-mediaobject.module-horizontal {
			@extend %mediaobject-flex !optional;
			@extend %mediaobject-align-left2right !optional;
		}
		// + REVERSE
		.module-mediaobject.module-reverse {
			@extend %mediaobject-flex-right2left !optional;
		}
		// + REVERSE
		.module-mediaobject.module-horizontal.module-reverse {
			@extend %mediaobject-flex-right2left !optional;
		}		
		// + VERTICAL
		.module-mediaobject.module-vertical {
			@extend %mediaobject-flex-top2bottom !optional;
		}
		// + VERTICAL + REVERSE
		.module-mediaobject.module-vertical.module-reverse {
			@extend %mediaobject-flex-bottom2top !optional;
		}

	// MODULE-MEDIAOBJECT.SUBLEVEL
	.module-mediaobject.module-sublevel {
		@extend %mediaobject-flex-cancel !optional;
	}
	.module-mediaobject.module-sublevel .module-inner {
		@extend %mediaobject-flex !optional;
	}
		.module-mediaobject.module-sublevel.module-horizontal .module-inner {
			@extend %mediaobject-flex !optional;
		}
		// + REVERSE
		.module-mediaobject.module-sublevel.module-reverse {
			@extend %mediaobject-flex-cancel !optional;
		}
		.module-mediaobject.module-sublevel.module-reverse .module-inner {
			@extend %mediaobject-flex !optional;
			@extend %mediaobject-flex-right2left !optional;
		}
		.module-mediaobject.module-sublevel.module-horizontal.module-reverse .module-inner {
			@extend %mediaobject-flex !optional;
			@extend %mediaobject-flex-right2left !optional;
		}
		// + VERTICAL
		.module-mediaobject.module-sublevel.module-vertical {
			@extend %mediaobject-flex-cancel !optional;
		}
		.module-mediaobject.module-sublevel.module-vertical .module-inner {
			@extend %mediaobject-flex-top2bottom !optional;
		}
		// + VERTICAL + REVERSE
		.module-mediaobject.module-sublevel.module-vertical.module-reverse {
			@extend %mediaobject-flex-cancel !optional;
		}
		.module-mediaobject.module-sublevel.module-vertical.module-reverse .module-inner {
			@extend %mediaobject-flex-bottom2top !optional;
		}

	// ITEM-FIGURE
	.module-mediaobject .item-figure {
		@extend %mediaobject-itemfigure !optional;
		@extend %mediaobject-itemfigure-left !optional;
	}
		// + REVERSE
		.module-mediaobject.module-reverse .item-figure {
			@extend %mediaobject-itemfigure-right !optional;
		}
		// + VERTICAL
		.module-mediaobject.module-vertical .item-figure {
			@extend %mediaobject-itemfigure-vertical !optional;
		}
		// + REVERSE + VERTICAL
		.module-mediaobject.module-vertical.module-reverse .item-figure {
			@extend %mediaobject-itemfigure-vertical !optional;
		}
		// + GRID-2COL (presumably half & half)
		.module-mediaobject.grid-2col .item-figure {
			@extend %mediaobject-2col-itemfigure !optional;
		}

	// ITEM-INFO
	.module-mediaobject .item-info {
		@extend %mediaobject-iteminfo !optional;
	}

		// + GRID-2COL (presumably half & half)
		.module-mediaobject.grid-2col .item-info {
			@extend %mediaobject-2col-iteminfo !optional;
		}

	// ITEM-TITLE

	.module-mediaobject .item-title {
		@extend %entrytitle--archive !optional;
		@extend %mediaobject-itemtitle !optional;
	}
	.module-mediaobject .item-title a,
	.module-mediaobject .item-title a:link {
		@extend %entrytitle-link !optional;
		@extend %mediaobject-itemtitle-link !optional;
	}
	.module-mediaobject .item-title a:hover {
		@extend %entrytitle-hover !optional;
		@extend %mediaobject-itemtitle-hover !optional;
	}