/* SETUP | ITEM | 3020_PROTOTYPE-NPR | SINGLE-ITEM - 2019-08-09 */

// -------------------------------------
// EXTEND


// -------------------------------------
// SELECTORS

	// SINGLE-X
	.single-x {}

	// FEATURE-RELATED
	.single-info {
		background-color: #f3f3f3;
		padding: 1rem;
		margin-bottom: 2rem;
	}

	.single-info .item-title {
		@extend %fontsize-med !optional;			// 20px
		@extend %fontweight-bold !optional;			// 600
		@extend %lineheight-onefifth !optional; 	// 1.2
	}

	.single-info .item-author {
		@extend %fontsize-xxsml !optional;
		@extend %fontweight-semibold !optional;
		@extend %lineheight-onefifth !optional;
	}

	.single-info .item-excerpt {
		margin-top: 1rem;
	}